.offers{
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    height: 60vh;
    width: 75%;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
}
.offers-left{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.offers-left h1{
    font-size: 80px;
    color: #171717;
    font-weight: 600;
}
.offers-left p{
    font-size: 22px;
    color: #171717;
    font-weight: 600;
}
.offers-left button{
    height: 70px;
    width: 282px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    padding-top: 50px;
    justify-content: flex-end;
}